body {
  color: #454545;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 3.125vw;
  background: #fff;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.contact-btn {
  width: 71.87vw;
  margin: 0 auto;
}
.contact-btn li + li {
  margin-top: 3.12vw;
}

/*----- about -----*/
#about {
  padding-top: 10.9375vw;
  background: url(../../img/mobile/sp_about_background_contain.jpg) no-repeat center top / 100% auto;
}
#about .l-inner {
  padding-bottom: 15.625vw;
}
#about .l-inner h2 {
  width: 45.3125vw;
  margin: 0 0 12.5vw 6.25vw;
}
#about .l-inner .text {
  width: 87.5vw;
  font-size: 4.0625vw;
  line-height: 1.5;
  margin: 0 auto 6.25vw;
}
#about .l-inner .about-img {
  width: 87.5vw;
  margin: 0 auto;
}
#about #plan {
  padding: 10vw 6.25vw 14.0625vw;
  background: url(../../img/mobile/common_pattern_grid.png) left top / 18.75vw;
}
#about #plan h3 {
  display: table;
  text-align: center;
  padding: 0 1.5625vw;
  margin: 0 auto 6.25vw;
}
#about #plan h3 span {
  color: #454545;
  font-size: 4.84vw;
  font-weight: bold;
  display: inline;
  padding-bottom: 1.25vw;
  line-height: 2;
  background: linear-gradient(transparent 88%, #ffde2e 0);
}
#about #plan .l-inner {
  padding-bottom: 7.03vw;
}
#about #plan .l-inner .audio-box {
  width: 100%;
  padding: 4.68vw 5.46vw 3.12vw;
  margin-bottom: 1.56vw;
  border: 1px solid #dfdfdf;
  border-radius: 1.56vw;
  background: #fff;
}
#about #plan .l-inner .audio-box figure {
  width: 10.62vw;
  margin-top: 1.56vw;
}
#about #plan .l-inner .audio-box:first-of-type figure {
  width: 10vw;
}
#about #plan .l-inner .audio-box dl {
  margin-left: 20px;
}
#about #plan .l-inner .audio-box dl dt {
  color: #e0343d;
  font-size: 4.06vw;
  font-weight: bold;
  margin-bottom: 5px;
}
#about #plan .l-inner .audio-box dl dd {
  width: 54.68vw;
  line-height: 1.4;
}
#about #plan .l-inner .audio-box audio {
  width: 100%;
  margin-top: 3.12vw;
}
#about #plan .l-inner .caution {
  margin: 1.56vw 0 -5.44vw;
  font-weight: bold;
  font-size: 4.375vw;
  text-align: center;
}

/*----- result -----*/
#result {
  color: #fff;
  padding: 13.28125vw 0 10.15625vw;
  background: linear-gradient(to right, #225b87 0%, #2f77af 50%, #225b87 100%);
}
#result h2 {
  font-size: 4.375vw;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 3.90625vw;
}
#result ul {
  width: 85.9375vw;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
}
#result ul li {
  width: 37.5vw;
  margin-bottom: 4.6875vw;
}
#result p {
  width: 86.71875vw;
  font-size: 3.125vw;
  line-height: 1.5;
  margin: 4.6875vw auto 0;
}

/*----- tel -----*/
#tel-info {
  padding-bottom: 8.75vw;
}
#tel-info h2 {
  margin-bottom: 5.9375vw;
}
#tel-info .top-text {
  font-size: 4.0625vw;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 7.03125vw;
}
#tel-info ul.case {
  margin: 0 4.6875vw 5.9375vw;
}
#tel-info ul.case li {
  margin-bottom: 4.6875vw;
}

/*----- option -----*/
#option {
  padding: 16.4vw 0 12.5vw;
  background: #f7d831 url(../../img/mobile/sp_option_deco.png) no-repeat center top 21.87vw / 100% auto;
}
#option h2 {
  width: 97.65vw;
  text-align: center;
  margin: 0 auto 4.68vw;
}
#option p {
  font-size: 3.43vw;
  text-align: center;
  margin-bottom: 11.71vw;
}
#option div p {
  font-size: 4.375vw;
  color: #e0343d;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.469vw;
  line-height: 1.2;
}
#option .l-inner {
  width: 87.5vw;
  margin: 0 auto;
  position: relative;
}
#option .l-inner dl {
  width: 100%;
  padding: 4.68vw 5.46vw;
  margin-bottom: 1.56vw;
  border-radius: 1.56vw;
  background: #fff;
}
#option .l-inner dl dt {
  color: #e0343d;
  font-size: 3.75vw;
  font-weight: bold;
  margin-bottom: 1.56vw;
}
#option .l-inner dl dd {
  line-height: 1.2;
}
#option .l-inner button {
  display: block;
  width: 62.5vw;
  color: #fff;
  font-size: 4.06vw;
  padding: 3.12vw 0;
  margin: 0 auto;
  border: 1px solid #345c73;
  border-radius: 6.66vw;
  background: #345c73;
  position: absolute;
  right: 0;
  bottom: -3.12vw;
  left: 0;
  z-index: 10;
}
#option .l-inner button:after {
  content: "一覧を見る";
  font-weight: bold;
}
#option .l-inner button.is-show {
  bottom: -4.68vw;
  border: 1px solid #4a4a4a;
  background: #4a4a4a;
}
#option .l-inner button.is-show::after {
  content: "一覧をとじる";

}
#option .l-inner button.is-show + .grad-item:before {
  display: none;
}
#option .l-inner .grad-item {
  margin-bottom: 7.5vw;
  position: relative;
  overflow: hidden;
}
#option .l-inner .grad-item.is-hide {
  height: 93.75vw;
}
#option .l-inner .grad-item::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 15.62vw;
  background: -webkit-linear-gradient(top, rgba(247, 216, 49, 0) 0%, rgba(247, 216, 49, 0.7) 60%, rgba(247, 216, 49, 0.8) 75%, #f7d831 100%);
  background: linear-gradient(top, rgba(247, 216, 49, 0) 0%, rgba(247, 216, 49, 0.7) 60%, rgba(247, 216, 49, 0.8) 75%, #f7d831 100%);
}

/*----- case -----*/
#case {
  padding: 14.84vw 0 9.37vw;
  background: url(../../img/mobile/sp_case_background.jpg)no-repeat center top / 100% auto;
}
#case h2 {
  width: 80.31vw;
  margin: 0 auto 7.81vw;
}
#case .slider {
  width: 81.25vw;
  margin: 0 auto;
  position: relative;
}
#case .slider figure {
  width: 80.93vw;
  margin: 0 1.56vw;
}
#case .slider .slide-arrow {
  width: 4.21vw;
  cursor: pointer;
  position: absolute;
  top: 54.68vw;
  z-index: 9;
}
#case .slider .slide-arrow.prev-arrow {
  left: -6.25vw;
}
#case .slider .slide-arrow.next-arrow {
  right: -6.25vw;
  transform: rotateY(180deg);
}
#case .slider .slick-dots {
  width: 26.56vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6.25vw auto 0;
}
#case .slider .slick-dots li {
  width: 2.18vw;
  height: 2.18vw;
  border-radius: 50%;
  background: #9ab1be;
}
#case .slider .slick-dots li.slick-active {
  background: #e0343d;
}
#case .slider .slick-dots li button {
  display: none;
}

/*----- info -----*/
.info {
  padding: 12.5vw 10.93vw 10.93vw;
  background: linear-gradient(to right, #225b87 0%, #2f77af 50%, #225b87 100%);
}
.info .l-inner > div {
  display: block;
}
.info .l-inner > div figure {
  width: 59.84vw;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.info .l-inner .l-text {
  color: #fff;
  text-align: center;
  padding: 1.56vw 0 7.81vw;
  margin-bottom: 5.46vw;
  position: relative;
}
.info .l-inner .l-text:before,
.info .l-inner .l-text:after {
  content: "";
  width: 100%;
  display: block;
  border-top: 1px solid #39a9ff;
  position: absolute;
  z-index: 1;
}
.info .l-inner .l-text:before {
  top: -10.15vw;
}
.info .l-inner .l-text:after {
  bottom: 0;
}
.info .l-inner > div .l-text h2 {
  font-size: 5vw;
  font-weight: bold;
  letter-spacing: 0.23vw;
  margin-bottom: 3.12vw;
}
.info .l-inner > div .l-text p {
  font-size: 3.75vw;
  font-weight: bold;
  letter-spacing: 0.23vw;
  line-height: 1.5;
}

/*----- reason -----*/
#reason {
  padding: 14.06vw 0 16.4vw;
}
#reason h2 {
  width: 90.46vw;
  margin: 0 auto 15.62vw;
}
#reason ul {
  display: block;
}
#reason ul li {
  width: 76.56vw;
  margin: 0 auto;
}
#reason ul li + li {
  margin-top: 10.93vw;
}
#reason ul li figure {
  width: 26.87vw;
  margin: 0 auto 3.9vw;
}
#reason ul li dl dt {
  color: #e0343d;
  font-size: 4.68vw;
  font-weight: bold;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 3.9vw;
}
#reason ul li dl dd {
  font-size: 3.75vw;
  line-height: 1.3;
}

/*----- voice -----*/
#voice {
  padding-bottom: 15.62vw;
  background: #bfe0ff url(../../img/mobile/sp_voice_background_top.jpg) no-repeat center top 17.18vw / 100% auto;
}
#voice h2 {
  color: #fff;
  font-size: 5.62vw;
  text-align: center;
  font-weight: bold;
  padding: 3.9vw 0;
  margin-bottom: 6.25vw;
  background: #27536c;
}
#voice ul {
  margin-left: 1.56vw;
}
#voice ul li + li {
  margin-top: 4.68vw;
}
#voice ul li figure {
  width: 10vw;
}
#voice ul li dl {
  width: 86.71vw;
  padding: 6.25vw;
  margin-left: 1.56vw;
  border: 2px solid #ffdd31;
  border-right: none;
  border-radius: 3.9vw 0 0 0;
  background: #fff;
}
#voice ul li dl dt {
  color: #e0343d;
  font-size: 4.06vw;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 3.9vw;
}
#voice ul li dl dd {
  font-size: 3.75vw;
  line-height: 1.4;
}
#voice ul li dl dd span {
  display: block;
  margin-top: 3.9vw;
}

/*----- course -----*/
#course {
  padding: 17.18vw 4.68vw 15.62vw;
  background: #f2f2f2;
}
#course h2 {
  width: 47.65vw;
  color: #26536d;
  font-size: 6.56vw;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1.56vw;
  margin: 0 auto 4.68vw;
  border-bottom: 0.93vw solid #ffde2e;
}
#course p {
  font-size: 3.75vw;
  line-height: 1.6;
  margin-bottom: 7.81vw;
}
#course .course-list li {
  width: 80vw;
  margin: 0 auto 3.12vw;
}
#course .course-list li:nth-child(2) {
  width: 90.93vw;
}
#course h3 {
  width: 78.75vw;
  text-align: center;
  margin: 9.37vw auto 7.03vw;
}
#course .bl_couse_txt {
  font-size: 4.375vw;
  text-align: center;
  font-weight: bold;
  color: #ff7e00;
}
/*----- flow -----*/
#flow {
  padding-bottom: 12.5vw;
  background: url(../../img/mobile/common_pattern_grid.png) center top;
}
#flow .l-inner {
  display: block;
}
#flow .l-inner h2 {
  color: #34617c;
  font-size: 5.62vw;
  font-weight: bold;
  padding: 6.25vw 0 4.68vw 7.81vw;
  margin-bottom: 4.68vw;
  background: #ffde2e;
}
#flow .l-inner h2 span {
  display: block;
  font-size: 3.43vw;
  font-weight: bold;
}
#flow .l-inner figure {
  width: 84.37vw;
  margin: 0 auto;
}

/*----- bottom-contents -----*/
#bottom-contents {
  padding-top: 10.93vw;
  background: #26536d;
}
#bottom-contents ul {
  display: block;
  width: 89.84vw;
  margin: 0 auto 12.5vw;
}
#bottom-contents ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#bottom-contents ul li + li {
  margin-top: 6.25vw;
}
#bottom-contents ul li figure {
  width: 44.21vw;
}
#bottom-contents ul li:nth-child(2) figure {
  width: 43.59vw;
}
#bottom-contents ul li:last-child figure {
  width: 42.18vw;
}
#bottom-contents ul li dl {
  color: #fff;
  text-align: center;
  margin-top: 1.56vw;
}
#bottom-contents ul li dl dt {
  font-size: 4.37vw;
  font-weight: bold;
  margin-bottom: 1.56vw;
}
#bottom-contents ul li dl dd {
  line-height: 1.3;
  margin-bottom: 2.34vw;
}
#bottom-contents ul li p {
  width: 42.18vw;
  margin: 0 auto;
}
#bottom-contents .tel {
  font-size: 3.43vw;
  text-align: center;
  padding: 7.03vw 0;
  background: #fff;
}
#bottom-contents .tel span {
  display: block;
  width: 52.96vw;
  margin: 3.12vw auto 0;
}